---
regenerate: true
---

{% include head.html %}

<div class="about">
    <div class="about-title">
        {% include header.html %}
        <div class="spacer"></div>
        <div class="copy">
            <h2><span class="color">Hello,</span> my name is Max Melzer.</h2>
            <p>I am a theologian and software developer from Germany.</p>
        </div>
        <div class="scroll-down-button-container nav"><a href="#about-contact" class="scroll-down">↓</a></div>
    </div>
    <div id="about-projects" class="about-projects">
        <h2 class="scroll-effect">Portfolio</h2>
        <p>Here are some of the projects I built for customers or for myself</p>
    </div>
    {% include projects.html %}
    

</div>


{% include footer.html %}
