---
lang: de
regenerate: true
redirect_from:
  - /
  - /ueber/
---

{% include head.html %}

<div class="about">
    <div class="about-title">
        {% include header.html %}
        <div class="copy">
            <h2><span class="color">Hallo,</span> mein Name ist Max Melzer.</h2>
            <p>Ich bin Diplomtheologe und Software-Entwickler aus Leipzig.</p>
        </div>
        <div class="scroll-down-button-container nav"><a href="#about-projects" class="scroll-down">↓</a></div>
    </div>
    <div id="about-projects" class="about-projects" style="padding-bottom: 0;">
        <h2 class="scroll-effect">Projekte</h2>
    </div>
    {% include projects.html featured_only=true %}
    
    <div id="about-posts" class="about-projects">
        <h2 class="scroll-effect">Neueste Posts</h2>
    </div>
    
    {% include about-posts.html %}


    {% include footer.html %}

</div>