---
lang: de
regenerate: true
redirect_from:
  - /
  - /ueber/
---

{% include head.html %}

<div class="about">
    <div class="about-title">
        {% include header.html %}
        <div class="spacer"></div>
        <div class="copy">
            <h2><span class="color">Hallo,</span> mein Name ist Max Melzer.</h2>
            <p>Ich bin Diplomtheologe und Software-Entwickler aus Leipzig.</p>
        </div>
        <div class="scroll-down-button-container nav"><a href="#about-projects" class="scroll-down">↓</a></div>
    </div>
    <div id="about-projects" class="about-projects">
        <h2 class="scroll-effect">Portfolio</h2>
        <p>Einige der Projekte, die ich für Kunden oder in eigener Sache entwickelt habe</p>
    </div>
    {% include projects.html featured_only=true %}


    {% include footer.html %}

</div>