{% capture category %}{{ post.categories | size }}{% endcapture %}
<div class=archive-post-container>
	{% assign m = post.date | date: "%-m" %}
	  <time>{{ post.date | date: "%-d." }}
	  {% case m %}
	    {% when '1' %}Januar
	    {% when '2' %}Februar
	    {% when '3' %}M&auml;rz
	    {% when '4' %}April
	    {% when '5' %}Mai
	    {% when '6' %}Juni
	    {% when '7' %}Juli
	    {% when '8' %}August
	    {% when '9' %}September
	    {% when '10' %}Oktober
	    {% when '11' %}November
	    {% when '12' %}Dezember
	  {% endcase %}
	  {{ post.date | date: "%Y" }}</time>
	<a href="{{ root_url }}{{ post.url }}" class="index-link">
		<h1 class="entry-title index {% if post.link %}linklog{% endif %}">{{ post.title }}{% if post.published == false %}<span class="dot">(Entwurf)</span>{% endif %}</h1>
	</a>
</div>