 {% if index %}
  <a class="index-link" rel="full-article" href="{{ post.url | prepend: site.baseurl }}">
    <div class="index-post">
      <h3 class="entry-title
                 index
                {{post.categories | join: " "}}
                {% if post.link %}linklog{% endif %}"
                style="view-transition-name: title-{{ post.slug}};">
        {{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {% if post.draft == true %}<span class="dot">(Entwurf)</span>{% endif %}
      </h3>
      {% if post.file %}
        <div class="index-thumb-except">
          <img class="index-thumb" style="view-transition-name: img-{{ post.slug}};"
              src="{{ post.file | replace: 'paintings/', 'paintings/thumbnail/' }}"
              alt=""
              loading="lazy"
              />
          <span class="entry-content-excerpt">
            {% capture trimmed_content %}{{ content | strip }}{% endcapture %}
            {% if trimmed_content == "" and post.lang != 'en' %}
                {% assign alternative = site.categories.paintings-en | where: "title", post.title | first %}
                {{ alternative.content | markdownify | strip_html | truncatewords: 50, '…' }}
            {% else %}
                {{ content | markdownify | strip_html | truncatewords: 50, '…' }}
            {% endif %}
          </span>
        </div>
      {% else %}
        <span class="entry-content-excerpt">{{ content | markdownify | strip_html | truncatewords: 50, '…' }}</span>
      {% endif %}
    </div>
  </a>
{% else %}
  <div class="entry-content">
    {% if page.link %}
      <h1 class="entry-title linklog"
          style="view-transition-name: title-{{ page.slug}};">
        {% if page.published == false %}
          Entwurf<span class="dot">•</span>
        {% endif %}
        <a class="linklog" href="{{ page.link }}">
          {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
        </a>
      </h1>
    {% else %}
      <h1 class="entry-title"
          style="view-transition-name: title-{{ page.slug}};">{% if page.published == false %}Entwurf<span class="dot">•</span>{% endif %}{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
    {% endif %}
    {{ content }}
  </div>
{% endif %}
