 {% if index %}
  <a class="index-link" rel="full-article" href="{{ post.url | prepend: site.baseurl }}">
    <div class="index-post">
      <h1 class="entry-title index {{post.categories | join: " "}} {% if post.link %}linklog{% endif %}">{{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}{% if post.draft == true %}<span class="dot">(Entwurf)</span>{% endif %}</h1>
      <span class="entry-content-excerpt">{{ content | markdownify | strip_html | truncatewords: 50, '…' }}</span>
    </div>
  </a>
{% else %}

  {% assign postlength = content.size %}
  {% if postlength > 4500 %}
    <div class="entry-content paginated-article loading {{postlength}}">
  {% else %}
    <div class="entry-content">
  {% endif %}
    {% if page.link %}
      <h1 class="entry-title linklog">
        {% if page.published == false %}
          Entwurf<span class="dot">•</span>
        {% endif %}
        <a class="linklog" href="{{ page.link }}">
          {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
        </a>
      </h1>
    {% else %}
      <h1 class="entry-title">{% if page.published == false %}Entwurf<span class="dot">•</span>{% endif %}{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
    {% endif %}
    {{ content }}
  </div>
{% endif %}
