<style>
    #contact {
		font-size: 1.8rem;
        max-width: 700px;
        margin: 0 auto;
        display: flex;
		flex-direction: column;
		justify-content: center;
        align-items: center;
        gap: 1rem;
		text-align: center;
		padding: 7rem 1rem;
    }
	#contact .button {
        display: inline-block;
        font-size: 1.75rem;
		font-weight: bolder;
		padding: .75rem 2.5rem;
		border-radius: calc(.9rem + 20px);
        background: var(--color);
        color: white;
        transition: all .3s;
    }
    #contact .button:active {
        border: none;
        transform: translateY(2px);
        margin-bottom: 2px;
    }
    @media (max-width: 769px) {
	#contact {
        padding: 3rem 1rem;
    }
}

</style>

<div id="contact">
    {% if page.lang == "de" %}
    <p>Du brauchst eine Webseite oder Hilfe bei einem Software-Projekt für dich oder deine Organisation?</p>
    <a class="button scroll-effect" href="mailto:hi@moehrenzahn.de">E-Mail schreiben</a>
    {% else %}
        <p>You need a website or help with a software project for yourself or your organisation?</p>
        <a class="button scroll-effect" href="mailto:hi@moehrenzahn.de">Email me</a>
    {% endif %}
</div>