<style>
    #contact {
        margin: 0 auto;
        display: flex;
		flex-direction: column;
        align-items: center;
        gap: 2rem;
		text-align: center;
		padding: 5rem 1rem;
    }
    #contact p {
        color: var(--text-color-light);
        font-size: 2.4rem;
        line-height: 1.4;
        max-width: 700px;
    }
    @media (max-width: 769px) {
	#contact {
        padding: 3rem 1rem;
    }
}

</style>

<div id="contact">
    {% if page.lang == "de" %}
        <p style="margin: 0">Du brauchst eine Webseite oder Hilfe bei einem Software-Projekt für dich oder deine Organisation?</p>
        <div class="centered gap flex-wrap">
            <a class="button big cta" href="mailto:hi@moehrenzahn.de">E-Mail schreiben</a>
            <a class="button big" rel="me" href="https://mastodon.social/@maxmelzer" target="_blank">maxmelzer auf Mastodon</a>
        </div>
    {% else %}
        <p style="margin: 0">You need a website or help with a software project for yourself or your organisation?</p>
        <div class="centered gap flex-wrap">
            <a class="button big cta" href="mailto:hi@moehrenzahn.de">Email me</a>
            <a class="button big" rel="me" href="https://mastodon.social/@maxmelzer" target="_blank">Find me on Mastodon</a>
        </div>
    {% endif %}
</div>