<style>
  .flyleaf-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem calc(-1 * var(--gutter-width));
  }
  
  .flyleaf-features h2 {
    font-size: 1.6em;
    line-height: 1.1;
  }
  .flyleaf-features * {
    text-wrap: balance;
  }
  .flyleaf-features h2.beta::after {
    content: "beta";
    background-color: rgba(66, 169, 203, .6);
    margin-left: .2em;
    padding: 3px 10px;
    border-radius: 0.5em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.5em;
    vertical-align: middle;
  }

  .flyleaf-features h2.comingsoon::after {
    content: "Coming soon";
    white-space: pre;
    background-color: var(--color);
    color: var(--background);
    margin-left: .2em;
    padding: 3px 10px;
    border-radius: 0.5em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.5em;
    vertical-align: middle;
  }
  .flyleaf-features h2.new::after {
    white-space: pre;
    background-color: rgb(98, 189, 98);
    color: var(--background);
    margin-left: .2em;
    padding: 3px 10px;
    border-radius: 0.5em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.5em;
    vertical-align: middle;
    {% if page.lang == 'de' %}
		content: "neu";
		{% else %}
		content: "new";
		{% endif %}
  }
  
  .flyleaf-features .feature {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 3rem;
    align-items: stretch;
    text-align: right; 
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 2.5rem 4vw;
    min-height: 200px;
  }
  .flyleaf-features .feature > *:not(.frame-container) {
    flex-basis: 0;
    flex-grow: 1;
  }
  @media (max-width: 700px) {
    .flyleaf-features .feature {
      flex-wrap: wrap;
    }
    .flyleaf-features .feature * {
      text-align: left !important; 
    }
    .flyleaf-features .feature > img {
      object-position: center !important;
    }
    .flyleaf-features .feature:has(.clip-top) {
      flex-direction: column-reverse !important;
    }
    .flyleaf-features .feature img.clip-top {
      margin-top: -3.5rem !important;
    }
  }
  .flyleaf-features .feature > img {
    object-fit: contain;
    object-position: left;
    width: 100%;
    height: 100%;
  }
  .flyleaf-features .frame-container,
  .flyleaf-features .frame-container video,
  .flyleaf-features .frame-container::before,
  .flyleaf-features .feature > * { 
    min-width: 280px;
  }
  .flyleaf-features .frame-container,
  .flyleaf-features .frame-container video,
  .flyleaf-features .frame-container::before,
  .flyleaf-features .feature > img:not(.background) {
    max-height: max(500px, 50vh);
  }
  .flyleaf .frame-container {
    position: relative;
    display: flex;
    align-items: center;

    width: fit-content;
    height: fit-content;
  }
  .flyleaf .frame-container:has(.ipad) {
    aspect-ratio: 1036/720;
  }
  .flyleaf .frame-container:has(.iphone) {
    aspect-ratio: 1178/2556;
  }
  .flyleaf .frame-container::before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  .flyleaf .frame-container:has(.ipad)::before {
    background-image: url("/images/projects/iPad Air 2020 Landscape.png"); 
  }
  .flyleaf .frame-container:has(.iphone)::before {
    background-image: url("/images/projects/iPhone 15 Pro Portrait.png");
  }
  .flyleaf video.frame {
    transform: scale(1);
  }
  .flyleaf video.frame.ipad {
    aspect-ratio: 1036/720;
    transform: scale(0.86);
    background-color: black;
  }
  .flyleaf video.frame.iphone {
    aspect-ratio: 1178/2556;
    transform: scale(0.92);
    border-radius: 60px;
  }
  .flyleaf-features .feature .clip-top {
    margin-top: -2.5rem !important;
    object-position: top;
  }
  .flyleaf-features .feature .clip-bottom {
    margin-bottom: -2.5rem !important;
    object-position: bottom;
  }
  .flyleaf-features .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    max-width: 600px;
    text-wrap: balance;
    position: relative;
  }
  .flyleaf-features .feature *:is(p, h2) {
    text-align: right;
    margin: 0 !important;
  }
  .flyleaf-features .feature:nth-child(odd) {
    flex-direction: row-reverse;
    background: linear-gradient(132deg, #843bb533 15%, #fd1d1d33 50%, #fcb04533 84%);
  }
  .flyleaf-features .feature:nth-child(4n-1) {
    background: linear-gradient(312deg, rgba(131,58,180,0.2) 15%, rgba(253,29,29,0.2) 50%, rgba(252,176,69,0.2) 84%);
  }
  .flyleaf-features .feature:nth-child(odd) *:is(p, h2) {
    text-align: left;
  }
  .flyleaf-features .feature:nth-child(odd) > img {
    object-position: right;
  }
  .flyleaf-features .feature:last-child::after {
    content: "";
    background: linear-gradient(180deg, rgba(131,58,180,0.05) 0%, rgba(131,58,180,0.0) 100%);
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 3rem;
  }

  .flyleaf-features img.background {
    position: absolute;
    top: 0;
    left: 1em;
    height: calc(100%);
    width: calc(100% - 2em);
    object-fit: contain;
    filter: saturate(0.5) brightness(0.1) invert(1);
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: -1;
    user-select: none;
    -webkit-user-select: none;
  }

  .flyleaf-features .tag {
    display: inline-block;
    background-color: orange;
    color: black;
    padding: .1em .5em;
    padding-right: .1em;
    border-radius: 1em;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
  }
  .flyleaf-features .tag::after {
    content: "+";
    display: inline-block;
    border-radius: 50%;
    background: black;
    margin: .1em;
    margin-left: .4em;
    color: orange; 
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    aspect-ratio: 1/1;
  }

  @media (prefers-color-scheme: dark) {
    .flyleaf-features img.background {
      filter: brightness(0.1) invert(0);
      mix-blend-mode: screen; 
    }
  }
</style>

<section class="flyleaf-features">
  <div class="feature">
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-share.svg">
      <h2>
        {% if page.lang == 'de' %}
        Artikel aus dem Internet speichern
        {% else %}
        Save articles from the web
        {% endif %}
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Mit dem Share Sheet kannst du von überall interessante Links in Flyleaf speichern. 
        Es gibt auch ein einfaches Bookmarklet für maximale Flexibilität.
        {% else %}
        Use the share sheet from anywhere to save interesting links to Flyleaf.
        There is also an easy-to-use bookmarklet if you need it.
        {% endif %}
      </p>
    </div>
    <img loading="lazy" width="1036" height="1000" alt class="" src="/images/projects/flyleaf-share-ios.png">
  </div>

  <div class="feature">
    <div class="text-container">
      <h2>
        {% if page.lang == 'de' %}
        Später lesen ohne Ablenkungen
        {% else %}
        Read later without distractions
        {% endif %}
      </h2>
      <!-- <img loading="lazy" class="background" alt src="/images/projects/sf-fullscreen.svg"> -->
      <p>
        {% if page.lang == 'de' %}
        Flyleaf speichert Webseiten und entfernt alles Unwichtige, wie Popups, Werbung und Tracker. So schonst du deine Privatsphäre und deinen Verstand.
        {% else %}
        Flyleaf takes web pages and removes everything inessential, like popups, ads and trackers, to preserve your privacy and sanity.
        {% endif %}
      </p>
    </div>
    <img loading="lazy" width="873" height="1200" alt src="/images/projects/flyleaf-reading-ipad-portrait.png">
  </div>

  <div class="feature">
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-book.svg">
      <h2>
        {% if page.lang == 'de' %}
        Webseiten wie eine Zeitschrift lesen
        {% else %}
        Turn websites into magazine articles
        {% endif %}
        
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Mit der Blätterfunktion kannst du Artikel in Flyleaf Seite für Seite lesen, anstatt immer vertikal zu scrollen.
        {% else %}
        With Flyleaf's best-in-class book-like pagination, you can read articles page by page instead of scrolling vertically.
        {% endif %}
      </p>
    </div>
    <div class="frame-container">
      <video class="frame ipad"
        autoplay muted playsinline loop>
        <source src="/images/projects/flyleaf-ipad-pagination-small.mp4"
          type="video/mp4">
          {% if page.lang == 'de' %}
          Video nicht verfügbar
          {% else %}
          Video not available
          {% endif %}
      </video>
    </div>
  </div>

  <div class="feature">
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-gear.svg">
      <h2>
        {% if page.lang == 'de' %}
        Lies wie du willst
        {% else %}
        Read it your way
        {% endif %}
        
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Flyleaf bietet zahlreiche Möglichkeiten, dein Leseerlebnis anzupassen,
        z.B. alternative Farbdesigns und tiefgreifende Typografieanpassungen.
        {% else %}
        Flyleaf offers many ways to customize your reading experience,
        such as color themes and in-depth typography settings.
        {% endif %}
      </p>
    </div>
    <img loading="lazy" width="1000" height="728" alt src="/images/projects/flyleaf-customization-ipad.png">
  </div> 

  <div class="feature">
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-binoculars.svg">
      <h2 class="new">
        {% if page.lang == 'de' %}
        Entdecke was du als Nächstes lesen möchtest 
        {% else %}
        Discover what to read next
        {% endif %}
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Wenn die Artikelliste wächst, kann man leicht den Überblick verlieren.
        Flyleaf hilft dir, immer was Neues in deiner Liste zu entdecken.
        {% else %}
        Once your list of saved articles grows, it's easy to lose track. Flyleaf
        helps you to always discover fresh articles from your list.
        {% endif %}
      </p>
    </div>
    <div class="frame-container">
      <video class="frame iphone"
        autoplay muted playsinline loop>
        <source src="/images/projects/flyleaf-discover-ios-small.mp4"
          type="video/mp4">
          {% if page.lang == 'de' %}
          Video nicht verfügbar
          {% else %}
          Video not available
          {% endif %}
      </video>
    </div>
  </div>

  <div class="feature">
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-icloud.svg">
      <h2>
        {% if page.lang == 'de' %}
        Synchronisiere mit iCloud
        {% else %}
        Sync with iCloud
        {% endif %}
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Flyleaf nutzt iCloud, um Artikel und Lesefortschritt sicher zwischen deinen
        Geräten zu synchronisieren - ohne zusätzliche Accounts.
        {% else %}
        Flyleaf uses iCloud to securely sync articles and reading progress between
        your devices – no additional signups needed.
        {% endif %}
      </p>
    </div>
    <img loading="lazy" width="510" height="500" alt class="clip-bottom" src="/images/projects/flyleaf-syncing-ios.png">
  </div>

  <div class="feature">
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-tag.svg">
      <h2>
        {% if page.lang == 'de' %}
        Bleib organisiert mit <span class="tag">Tags</span>
        {% else %}
        Stay organized with <span class="tag">tags</span>
        {% endif %}
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Du kannst deine eigenen Schlagwörter zu Artikeln hinzufügen, um deine Bibliothek zu organisieren.
        {% else %}
        You can add your own tags to articles to organize your library.
        {% endif %}
      </p>
    </div>
    <img loading="lazy" width="1000" height="796" alt src="/images/projects/flyleaf-tags-mac.png">
  </div>

  <div class="feature">
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-apple-logo.svg">
      <h2>
        {% if page.lang == 'de' %}
        Lies wo immer du bist
        {% else %}
        Read anywhere you go
        {% endif %}
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Genieße die Vorteile von komplett nativen Apps für iPhone, iPad und macOS,
        liebevoll gestaltet von Indie-Entwickler Max Melzer.
        {% else %}
        Enjoy fully native apps for iPhone, iPad, and macOS,
        lovingly crafted by indie developer Max Melzer.
        {% endif %}
      </p>
    </div>
    <img loading="lazy" width="1500" height="943" alt src="/images/projects/flyleaf-reading-combined.png">
  </div>

  <div class="feature"> 
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-fullscreen.svg">
      <h2 class="new">
        {% if page.lang == 'de' %}
        Lies im Vollbild
        {% else %}
        Read in full screen
        {% endif %}
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Verbanne alle Ablenkungen und konzentriere dich ganz auf den Text, indem du den Vollbildmodus aktivierst.
        Über die intuitive Gestensteuerung beiben alle Funktionen in Reichweite.
        {% else %}
        Remove all distractions and focus on the text by entering fullscreen mode.
        You can still access all the controls you need through an intuitive gesture interface.
        {% endif %}
      </p>
    </div>
    <div class="frame-container">
      <video class="frame ipad"
        autoplay muted playsinline loop>
        <source src="/images/projects/flyleaf-gesture-ipad-small.mp4"
          type="video/mp4">
          {% if page.lang == 'de' %}
          Video nicht verfügbar
          {% else %}
          Video not available
          {% endif %}
      </video>
    </div>
  </div>

  <div class="feature"> 
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-shippingbox.svg">
      <h2 class="beta new">
        {% if page.lang == 'de' %}
        Lade Artikel einfach von archive.today
        {% else %}
        Load articles from archive.today in one tap
        {% endif %}
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Manchmal kommt es vor, dass ein Artikel in deiner Region nicht verfügbar ist oder ein Login erfordert.
        Mit Flyleaf kannst du viele dieser Artikel stattdessen mühelos aus einem Webarchiv abrufen.
        {% else %}
        Sometimes, an article may not be available in your region or without logging in.
        Flyleaf lets you effortlessly access many of them from a web archive instead.
        {% endif %}
      </p>
    </div>
    <img loading="lazy" width="508" height="1000"  alt class="" src="/images/projects/flyleaf-belowview-ios.png">
  </div>

  <div class="feature"> 
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-shortcuts.svg">
      <h2>
        {% if page.lang == 'de' %}
        Automatisiere Aktionen mit Shortcuts und Siri
        {% else %}
        Automate actions with Shortcuts and Siri
        {% endif %}
      </h2>
      <p>
        {% if page.lang == 'de' %}
        Flyleaf bietet Systemintegrationen, mit denen du z.B. über Siri Links hinzufügen kannst.
        Du kannst außerdem deine eigenen Kurzbefehle erstellen,
        um z.B. Artikel automatisch zu Verschlagworten.
        {% else %}
        Flyleaf offers a comprehensive list of Shortcuts actions, so you can add URLs via Siri
        or build Shortcuts to automatically tag articles.
        {% endif %}
      </p>
    </div>
    <img loading="lazy" width="496" height="1000"  alt class="" src="/images/projects/flyleaf-siri-ios.png">
  </div>

  <!-- <div class="feature"> 
    <div class="text-container">
      <img loading="lazy" class="background" alt src="/images/projects/sf-rss.svg">
      <h2>
        Follow writers you like
      </h2>
      <p>Flyleaf lets you follow websites you like with one tap through the RSS
        reader of your choice.</p>
      </div>
      <img loading="lazy" width="643" height="750" alt class="clip-top" src="/images/projects/flyleaf-endactions-ios-cut.png">
  </div> -->
</section>