

<section class="flyleaf-screenshots">
    <img alt="The macOS app in light mode" src="/images/projects/flyleaf-mac.png">
    <img alt="The iOS app in dark mode" src="/images/projects/flyleaf-iphone.png" class="iphone">
    <img alt="The iPad app on an iPad mini" src="/images/projects/flyleaf-ipad.png" class="ipad">
    <img alt="The iPhone app quick settings sheet" src="/images/projects/flyleaf-iphone-quicksettings.png" class="iphone">
    <img alt="The macOS app in the dark Ocean theme" src="/images/projects/flyleaf-mac-dark-ocean.png" class="">
    <img alt="The iPhone app settings sheet" src="/images/projects/flyleaf-iphone-settings.png" class="iphone">
</section>