<style>
  .flyleaf-download {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
  }

  .flyleaf-download a {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1em;
    border: none;
    align-items: center;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.2;
    transition: transform .2s;
  }
  .flyleaf-download a:hover {
    transform: scale(1.03);
  } 
  .flyleaf-download img {
    flex-grow: 0;
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .flyleaf-download .list {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .flyleaf-download a,
  .flyleaf-download a:hover,
  .flyleaf-download a:active,
  .flyleaf-download a:visited {
    border: none;
  }
  .flyleaf-download a:hover {
    border: none;
  }
</style>

<section class="flyleaf-download">
  <a href="https://apps.apple.com/app/flyleaf-read-later/id6475200381">
    <img src="/images/projects/flyleaf-mac-icon-small.png" height="125"
        width="125" class="icon">
    <div class="list">
        <div>Free Download for <br/>iPhone, iPad and Mac</div>    
        <img class="a-button" src="/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="Download on the App Store">
    </div>
  </a>
</section>