<style>
  .blog-index {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 2em;
  }
  .blog-index article {
    max-width: calc(350px - 0.5em);
    text-align: left !important;
  }
  .blog-index article h3 {
    margin: 0 !important;
    text-align: left !important;
    border: none !important;
  }
  .blog-index .index-post {
    gap: 0.3em;
  }
</style>
<div class="blog-index">
    {% assign index = true %}
    {% assign flyleaf_posts = site.posts | where_exp: "item", "item.categories contains 'Flyleaf'" %}
    {% assign posts = flyleaf_posts | where_exp: "item", "page.lang == item.lang" %}
    {% for post in posts | limit:6 %}
        {% assign content = post.content %}
        <article>
            {% include article.html %}
        </article>
    {% endfor %}
</div>