<style>
  .flyleaf-quotes {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
  }
  .flyleaf-quotes a::before {
    content: "“";
    font-size: 20rem;
    font-weight: bolder;
    opacity: .1;
    background: linear-gradient(132deg, rgba(131,58,180,1) 15%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 84%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: -0.55em;
    left: -0.15em;
    z-index: -1;
  }
  .flyleaf-quotes a {
    position: relative;
    max-width: 400px;
    border: none;
  }

  .flyleaf-quotes a:hover footer {
    color: var(--color);
  }
  .flyleaf-quotes blockquote {
    font-family: "Charter", Georgia, 'Times New Roman', Times, serif !important;;
    font-style: italic;
    text-align: left;
    margin: 0;
    font-size: 1.3rem;
  }

  .flyleaf-quotes blockquote footer {
    font-size: 1rem;
    margin-top: 0.5rem;
    transition: color .2s;
    text-align: right;
  }
</style>

<section class="flyleaf-quotes">
  <a href="https://creativerly.com/read-articles-like-a-book-with-flyleaf/">
    <blockquote>
      {% if page.lang == 'de' %}
        Das seitenweise Blättern in Kombination mit einer ansprechenden UI macht Flyleaf zu einer unglaublich schönen "Später lesen"-App.
      {% else %}
        The pagination interaction in combination with a lovely interface makes Flyleaf an incredibly beautiful read-it-later app.
      {% endif %}
      <footer>Philipp Temmel, <cite>creativerly</cite></footer>
    </blockquote>
  </a>
  <!-- <a href="https://www.macg.co/logiciels/2024/03/flyleaf-une-nouvelle-app-de-lecture-differee-affichant-les-articles-en-colonnes-142949">
    <blockquote>
      While there's still plenty of room for improvement, Flyleaf is an app to try if you're looking to replace Pocket. It has the advantage of being native and supporting shortcuts.
      <footer>Félix Cattafesta, <cite>MacGeneration</cite></footer>
    </blockquote>
  </a> -->
  <a href="https://lifehacker.com/tech/flyleaf-is-the-best-read-it-later-app-for-apple-users">
    <blockquote>
      {% if page.lang == 'de' %}
        Flyleaf ist die beste neue "Read-It-Later"-App für Apple-User
      {% else %}
        Flyleaf Is the Best New ‘Read-It-Later’ App for Apple Users
      {% endif %}
      
      <footer>Justin Pot, <cite>LifeHacker</cite></footer>
    </blockquote>
  </a>
</section>