<footer class="bottom" role="contentinfo">
	<div>
		{% if page.collection == 'posts' or page.collection == 'paintings' or page.url contains 'blog' or page.url contains 'painting' %}
			{% if page.lang == 'de' %}Folgen{% else %}Subscribe{% endif %}:
			<span class="rss">
				<a href="{% if page.lang == 'en' %}/en/feed.xml{% else %}/feed.xml{% endif %}"
				rel="subscribe-rss">RSS Feed</a>
			</span>
			<span class="dot">•</span>
			<span class="json-feed">
				<a href="{% if page.lang == 'en'%}/en/feed.json{% else %}/feed.json{% endif %}"
				rel="subscribe-json">JSON Feed</a>
			</span>
			<span class="dot">•</span>
			<span class="twitter">
				<a href="http://twitter.com/moehrenzahn/">Twitter</a>
			</span>
		{% endif %}
	</div>
	<div>
		{% if page.lang == 'de' %}
			&copy;&nbsp;2012–{{ site.time | date: "%Y" }}&nbsp;<a href="{{ root_url }}/">Max&nbsp;Melzer</a>
			<span class="dot">•</span>
			<span class="credit"><a href="{{ root_url }}/impressum">Impressum</a></span>
		{% else %}
			&copy;&nbsp;2012–{{ site.time | date: "%Y" }}&nbsp;<a href="{{ root_url }}/en/about">Max&nbsp;Melzer</a>
			<span class="dot">•</span>
			<span class="credit"><a href="{{ root_url }}/impressum">Imprint</a></span>
		{% endif %}
		<span class="dot">•</span>
		{% include lang-switcher.html %}
	</div>
</footer>