<footer class="bottom" role="contentinfo">
	<div>
		&copy;&nbsp;2012–{{ site.time | date: "%Y" }}
		{% if page.lang == 'de' %}
			<a href="{{ root_url }}/">Max&nbsp;Melzer</a>
		{% else %}
			<a href="{{ root_url }}/en/about">Max&nbsp;Melzer</a>
		{% endif %}
		<span class="dot">•</span>	
		<span class="rss">
			<a href="{% if page.lang == 'en' %}/en/feed.xml{% else %}/feed.xml{% endif %}"
			rel="subscribe-rss">RSS</a>
		</span>
		<!-- <span class="dot">•</span>
		<span class="json-feed">
			<a href="{% if page.lang == 'en'%}/en/feed.json{% else %}/feed.json{% endif %}"
			rel="subscribe-json">JSON Feed</a>
		</span> -->
		<span class="dot">•</span>
		<span class="mastodon">
			<a href="https://mastodon.social/@maxmelzer/">Mastodon</a>
		</span>
		</span>
		<span class="dot">•</span>
		<span class="instagram">
			<a href="https://www.instagram.com/max.melzer/">Instagram</a>
		</span>
		<span class="dot">•</span>
		{% if page.lang == 'de' %}
			<span class="credit"><a href="{{ root_url }}/impressum">Impressum</a></span>
		{% else %}
			<span class="credit"><a href="{{ root_url }}/impressum">Imprint</a></span>
		{% endif %}
	</div>
</footer>