<!DOCTYPE html>
<html class="no-js" lang="{% if page.lang == 'en' %}en{% else %}de{% endif %}">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link href="{{ root_url }}/favicon.png" rel="icon"/>
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon" />
  <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/bigfoot.min.js"></script>
  <script type="text/javascript" src="/js/utils.js"></script>
  <script type="text/javascript" src="/js/scroll-handler.js"></script>
  <script type="text/javascript" src="/js/scroll-effect.js"></script>
  <script type="text/javascript" src="/js/lazy-images.js"></script>

  <script type="text/javascript">
              $.bigfoot({
                  actionOriginalFN: "ignore",
                  numberResetSelector: "article",
              });
  </script>

</head>
