<nav class="header-menu">
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a class="
                {% if page.url == item.url or page.url == item.url-de %}active{% endif %}
                {% if item.title == 'Blog' and page.collection == 'posts' %}active{% endif %}
            "
               href="
                {% if page.lang == 'de' %}
                    {{ item.url-de | default: item.url }}
                {% else %}
                    {{ item.url }}
                {% endif %}">
                {% if page.lang == 'de' %}
                    {{ item.title-de | default: item.title }}
                {% else %}
                    {{ item.title }}
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
