<div class="banner">
    <h2 class="bannertext">
    <a class="titlelink" href="{{ root_url }}/{% case page.lang %}{% when "en" %}en{% endcase %}
    ">moehrenzahn.de</a><br/>

    {% case page.lang %}
          {% when "en" %}
            Weblog of <a href="/en/about/">Max Melzer</a>
            <br/>
            on tech and theology
          {% when else %}
            Weblog von <a href="/ueber">Max Melzer</a><br/>
            über Theologie und Technologie
        {% endcase %}
	</h2>
</div>