{% for item in site.data.navigation %}
  {% if page.url == item.url %}
    <!-- Root page -->
    {% assign switch_url = item.url-de %} 
    {% break %}
  {% elsif page.url == item.url-de %}
    <!-- Root page -->
    {% assign switch_url = item.url  %} 
    {% break %}
  {% elsif page.url contains item.url %}
    {% if item.title == 'Paintings' %}
      <!-- Painting to DE -->
      {% capture switch_url %}{{ page.url | replace: item.url, item.url-de }}{% endcapture %}
      {% break %}
    {% else %}
      <!-- projects etc. to DE -->
      {% assign switch_url = item.url-de %}
    {% endif %}
  {% elsif page.url contains item.url-de %}       
    {% if item.title == 'Paintings' %}
      <!-- Painting to EN -->
      {% capture switch_url %}{{ page.url | replace: item.url-de, item.url }}{% endcapture %}
      {% break %}
    {% else %}
      <!-- projects etc to EN -->
      {% assign switch_url = item.url %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless switch_url %}
  {% if page.lang == 'en' %}
    {% assign switch_url = '/blog' %} 
  {% else %}
    {% assign switch_url = '/en/blog' %}
  {% endif %}
{% endunless %}

{% if page.lang == 'en' %}
  <a href="{{ switch_url | absolute_url }}">
    <img class="icon" src="/images/flaticons/world.svg"/>
    <div class="label">Deutsch</div>
  </a>
{% else %}
  <a href="{{ switch_url | absolute_url }}">
    <img class="icon" src="/images/flaticons/world.svg"/>
    <div class="label">English</div>
  </a>
{% endif %}
