{% if page.lang == 'en' %}
  {% assign about_url = '/en/about' %}
{% else %}
  {% assign about_url = 'ueber' %}
{% endif %}

<a href="{{ about_url | absolute_url}}"
   class="profile-outer side">
  <div class="profile-image side"></div>
</a>
<span class="byline author vcard">
  {% if page.lang == 'en' %}
    By <a href="{{ about_url | absolute_url }}">
  {% else %}
    Von <a href="{{ about_url | absolute_url }}">
  {% endif %}
  Max Melzer</a><span class="dot">•</span>
</span>
{% include date.html date=page.date %}

{% if page.size %}
  <span class="dot">•</span>{{page.size}}
{% endif %}
{% if page.materials %}
  <span class="dot">•</span>{{ page.materials }}
{% endif %}