<a href="{% case page.lang %}
    {% when 'en' %}/en/about
    {% when else %}/ueber
  {% endcase %}" class="profile-outer side">
  <div class="profile-image side"></div>
</a>
<span class="byline author vcard">
  {% case page.lang %}
    {% when "en" %}By <a href="/en/about">
    {% when else %}Von <a href="/ueber">
  {% endcase %}
  Max Melzer</a><span class="dot">•</span>
</span>
{% if page.lang == 'en' %}
  <time>{{ page.date | date_to_long_string }}</time>
{% else %}
  {% assign m = page.date | date: "%-m" %}
  <time>{{ page.date | date: "%-d." }}
  {% case m %}
    {% when '1' %}Januar
    {% when '2' %}Februar
    {% when '3' %}M&auml;rz
    {% when '4' %}April
    {% when '5' %}Mai
    {% when '6' %}Juni
    {% when '7' %}Juli
    {% when '8' %}August
    {% when '9' %}September
    {% when '10' %}Oktober
    {% when '11' %}November
    {% when '12' %}Dezember
  {% endcase %}
  {{ page.date | date: "%Y" }}</time>
{% endif %}

