<style>
    .painting-container {
        max-height: 95vh;
        width: 100vw;
        position: relative;
        left: calc(-50vw + 50%);
        margin-bottom: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .painting-img {
        width: auto;
        max-height: 95vh;
        margin: auto;
        border-radius: 4px;
    }
    .painting-shadow {
        filter: blur(15px) brightness(60%) saturate(250%);
        z-index: -1;
        position: absolute;
        width: auto;
        max-height: 95vh;
        margin: auto;
        top: 5px;
        bottom: -5px;
        /* avoid overflow */
        left: 0;
        right: 0; 

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }
    @media (prefers-color-scheme: dark) {
        .painting-shadow {
            filter: blur(15px) brightness(40%) saturate(250%);
        }
    }
</style>

<h1 class="entry-title" 
    style="view-transition-name: title-{{ page.slug}};">
    {% if page.published == false %}Entwurf<span class="dot">•</span>{% endif %}{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
</h1>

{% if painting.description %}
        <em>
            {{ painting.description | markdownify }}
        </em>
    {% endif %}

<div class="painting-container">
    <img
        class="painting-img"
        style="view-transition-name: img-{{ page.slug}};"
        src="{{ painting.file }}"
        alt="{{ painting.title }}" />
    <img
        class="painting-shadow"
        src="{{ painting.file }}"
        alt="" />
</div>

<div class="entry-content">
    {% capture trimmed_content %}{{ content | strip }}{% endcapture %}
    {% if trimmed_content == "" and page.lang != 'en' %}
        {% assign alternative = site.categories.paintings-en | where: "title", page.title | first %}
        {{ alternative.content | markdownify }}
    {% else %}
        {{ content }}
    {% endif %}
</div>
