{% assign paintings = site.categories.paintings %}
<style>
    #content {
        padding-left: var(--gutter-width);
        padding-right: var(--gutter-width);
    }

    #painting-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        padding: 15px 0;
        margin: 40px 0;
    }
    #painting-container * {
        max-width: 100%;
    }
    .painting {
        display: flex;
        justify-content: flex-start;
    }
    .painting.painting-featured {
        width: 100% !important;
    }
    .painting-featured .painting-wrapper {
        flex-direction: row;
        align-items: flex-end;
    }
    .painting .painting-wrapper {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 20px;
    }
    .painting a {
        position: relative;
    }
    .painting a:hover .painting-shadow {
        opacity: 1;
    }
    #painting-container a:hover h2 {
        color: var(--color);
    }
    .painting-img {
        max-height: none;
        object-fit: fill;
        border-right: rgb(130, 130, 130) 3px solid;
        border-bottom: rgb(100, 100, 100) 3px solid;
        border-radius: 3px;
        background-size: cover;
        background-color: gray;

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }
    .painting-shadow {
        filter: blur(15px) brightness(60%) saturate(250%);
        opacity: .5;
        z-index: -1;
        position: absolute;
        top: 5px;
        left: 5px;
        bottom: -5px;
        right: -5px;
        height: 100%;
        max-height: none;
        width: 100%;
        transition: all .5s;

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);

    }
    .painting-img, .painting-description {
        min-width: 240px; /* make miniatures still discernible */
    }
    @media (prefers-color-scheme: dark) {
        .painting-img {
            border-right: rgb(95, 95, 95) 3px solid;
            border-bottom: rgb(65, 65, 65) 3px solid;
        }
        .painting-shadow {
            filter: blur(15px) brightness(50%) saturate(200%);
        }
    }
    .painting-description {
        margin-top: 12px;
    }
    .painting-description a {
    }
    .painting-description h2 {
        margin: 0;
        margin-bottom: 5px;
        transition: all .3s;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .painting-meta {
        color: var(--text-color-light);
    }
</style>



<div id="painting-container">
    {% for painting in paintings %}
        {% assign sizeList = painting.size | remove: "cm" | split: "×" %}
        {% assign width = sizeList[0] | replace: ",", "." %}
        {% assign height = sizeList[1] | replace: ",", "." %}
        {% if painting.featured %}
            <div class="painting painting-featured">
        {% else %}
            <div class="painting">
        {% endif %}
            <div class="painting-wrapper {% if height > width %}portrait{% endif %}">
                <a style="border: none" href="{{ painting.url }}">
                    <img
                        class="painting-shadow"
                        src="{{ painting.file | replace: 'paintings/', 'paintings/thumbnail/' }}"
                        alt=""
                    />
                    <img
                        class="painting-img"
                        src="{{ painting.file | replace: 'paintings/', 'paintings/thumbnail/' }}"
                        alt="{{ painting.title }}"
                        style="aspect-ratio: {{ width }} / {{ height }}; width: calc({{ width }}*13.72px)"
                        loading="lazy" />
                </a>
                <div class="painting-description" 
                     style="width: calc({{ width }}*13.72px)">
                    {% if painting.title %}
                    <a href="{{ painting.url }}"
                    class="poster-title">
                        <h2>{{ painting.title }}</h2>
                    </a>
                    {% endif %}
                    <div class="painting-meta">
                        {% if painting.size %}
                            {{painting.size}}
                            <span class="dot">•</span>
                        {% endif %}
                        {% include date.html date=painting.date %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
