.about {
	img {
		max-width: 100%;
	}

	p, h2, h3, h4 {
		margin: 0;
		padding: 0;
	}
	transition: all .3s ease-in-out;
	> [class^='about-'] {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		> div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.about-title {
		flex-direction: column;
		position: relative;
		text-wrap: balance;
		justify-content: space-between;
		font-size: 3rem;
		.copy {
			display: block;
			max-width: 18em;
			margin: 0 1rem;
			text-align: center;

			p {
				font-size: .75em;
				line-height: 1.2em;
				margin-bottom: .3em;
				font-weight: bolder;
			};
			h2 {
				line-height: 0.9em;
				font-size: 2em;
				margin-bottom: .2em;
			}
			.button {
				margin-top: 1em;
				font-size: 1em;
				background: var(--color);
				color: white;
			}
		}

		.header-menu {
			width: 100%;
		}

		.scroll-down-button-container {
			display: none;
			font-size: 1.5rem;
			margin-bottom: 1rem;
			align-self: center;

			a.scroll-down {
				display: block;
				margin: 0 auto;
				border: none;
				color: white;
				text-align: center;
				background: rgba(0,0,0,.2);
				width: 2em;
				height: 2em;
				line-height: 2em;
				text-decoration: none;
				border-radius: 50%;
				transition: transform .3s, color .3s;
				&:hover {
					color: var(--color);
					transform: scale(1.2);
				}
			}
		}
	}

	.about-contact {
		padding: 5rem 1rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		
		h2 {
			font-size: 3em;
		}

		p {
			color: var(--text-color-light);
			font-size: 1.5em;
			max-width: 700px;
		}
	}

	.about-projects {
		padding: 5rem 1rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		h2 {
			font-size: 3em;
		}

		p {
			color: var(--text-color-light);
			font-size: 1.5em;
		}
	}

	#projects-container {
		padding-left: var(--gutter-width);
		padding-right: var(--gutter-width);
	}
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	100% {
		opacity: 1;
	}
}

.scroll-effect {
	transition: opacity 1.5s, transform 1.5s !important;
	&.hidden {
		opacity: 0;
		transform: translateY(20px);
	}
}


@media (max-width: 769px) {
	.about {
		font-size: .8em;
		.about-title {
			.header-menu {
				flex-grow: 1;
			}
			background-position: 30%;
			font-size: 1.5rem;
			.copy {
				max-width: 100%;
				margin: 1rem;
			}
		}
	}
}