/* Styling for archives */

#blog-archives {
	
	.archive-post-container {
		max-width: 500px;
		margin: .5em auto;
	}
	time {
		display: inline-block;
		float: right;
		clear: both;
		padding: 0;
		margin: 0;
		margin-left: .5em;
		line-height: 1.5;
		color: $text-color-light;
	}	
	h1 {
		display: inline;
		padding: 0;
		font-weight: normal;
	}
}

.archive-categories {
	a {
		border-width: 0;
	}
	a:hover {border-width: 3px;}
}