/* Styling for archives */

#blog-archives {
	max-width: 500px;
	margin: 0 auto;
	.archive-post-container {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	time {
		display: inline-block;
		font-size: .95em;
		float: right;
		margin-left: 1em;
		clear: both;
		color: $text-color-light;
	}	
	h1 {
		display: inline;
		font-size: .95em;
		padding: 0;
		font-weight: normal;
	}
}

.archive-categories {
	a {border-width: 0;}
	a:hover {border-width: 3px;}
}