/* Footer at very bottom of page */

footer.bottom
{
	
	padding-top: 6em;
	padding-bottom: 3em;
	padding-left: 18px;
	padding-right: 18px;
	@media only screen and (max-width: 480px) {padding-top: 2em;}
	p, span {
		margin: 0 auto;
		text-align: center;
		font-family: $sans;
		line-height: 1.7;
		color: $text-color-light;}
	a {white-space:nowrap;}
	span.subscription {white-space:nowrap;}
}