/* Footer at very bottom of page */

footer.bottom {
	height: 100px;
	@media only screen and (min-width: $max-width+600) {
		// margin-top: -100px;
	}
	p, span {
		font-family: $sans;
		line-height: 1.7;
		color: var(--text-color-light);}
	a {white-space:nowrap;}
	span.subscription {white-space:nowrap;}
}