/* Footer at very bottom of page */

footer.bottom {
	height: 100px;
	p, span {
		font-family: $sans;
		line-height: 1.7;
		color: var(--text-color-light);}
	a {white-space:nowrap;}
	span.subscription {white-space:nowrap;}
}