
#banner {
	border-top: solid 6px $color;
	margin-bottom: 0px;
}

h2.bannertext {
	display: inline-block;
	font-family: $header-subtitle-font-family;
	font-size: $metatext * 1.05;
	font-weight: normal;
	color: $text-color-light;
	padding: 10px 10px;
	padding-right: 50px;
	padding-bottom: 1em;
	text-align: center;
	@media (min-width: 000px) {
		text-align: left;
		float: left;
	}
}
a.titlelink {
	display: inline-block;
	font-family: Georgia, serif;
	font-size: 140%;
	border: none;
	transition: color .3s;
}
a.titlelink:hover {
	color: $color !important;
}