
/* Link styling and animation */

a, a:visited {
	color: var(--text-color);
	text-decoration: underline;
	text-decoration-thickness: .1em;
	text-decoration-color: #D9D9D9;
	text-underline-offset: .2em;
	transition: text .3s;
}
a:hover {
	text-decoration-color: var(--color)
}


/* Hover effect without underline */

h1, nav {
	a, a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}
