
/* Link styling and animation */

a, a:visited {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: .1em solid var(--lightgray);
	transition: border-color .3s;
}
a:hover {
	border-bottom-color: var(--color)
}


/* Hover effect without underline */

h1, nav {
	a, a:visited {
		border-bottom: none;
		.label {
			border-bottom: .1em solid transparent;
			transition: border-color .3s;
		}
	}
	a:hover {
		.label {
			border-bottom-color: var(--color)
		}
	}
}
