
/* Meta under posts (in single article view) */

article.hentry {
	// contains pagination links, metadata and sharing
	footer {
		font-size: $metatext;
		color: var(--text-color-light);
		margin-top: 30px;
		padding-top: 30px;
	}
	time {
		color: var(--text-color);
	}
	#comments {
		font-size: $bodytext;
		@media only screen and (max-width: 480px) {font-size: $bodytext * .8;}
	}

	.meta {
		display: inline-block;
		width: 100%;
		margin-bottom: 1em;
	}

	#nextpost {
		position: relative;
		top: 0;
		right: 0;
		float: right;
		text-align: right;
		max-width: 260px;
	}

	#previouspost {
		display: inline-block;
		text-align: left;
		max-width: 260px;
		margin-bottom: 10px;
	}
	#nextpost, #previouspost {
		a {
			img {
				object-fit: cover;
				transition: opacity .3s;
				opacity: .5;
			}
			&:hover img {
				opacity: 1;
			}
		}
	}
}
