/* Not currently included */

.header-menu {
	left: 0;
	top: 0;
	right: auto;
	z-index: 100;
	font-size: 16px;
	ul, li {
		list-style: none;
	}
	.icon {
		width: 20px;
		opacity: .6;
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 1rem;
		margin: 0;
	}
	
	a {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: .5rem;
		flex-direction: row;
		&.active {
			.icon {
				opacity: 1;
			}
		}
		&:hover {
			.icon {
				opacity: 1;
			}
			.label {
				opacity: 1;
				color: var(text-color);
				transform: translateY(0);
			}
		}
	}
}
@media (min-width: 601px) {
	.header-menu {
		ul {
			gap: 2rem;
			li:last-child {
				display: flex;
				flex-grow: 1;
				justify-content: flex-end;
			}
		}
	}
}
@media (max-width: 600px) {
	.header-menu {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top: auto !important;
		background-color: var(--background);
		box-shadow: 0 0 20px rgba(0,0,0,.1);
		ul {
			flex-direction: row;
			justify-content: space-evenly;
			padding: .5rem;
			a {
				flex-direction: column;
				font-size: 12px;
			};
		}
	}
}