/* Not currently included */

.header-menu {
	font-size: 16px;
	ul, li {
		list-style: none;
	}
	ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 1em;
		row-gap: .5em;
		margin: 1em;
		padding-left: 0;
	}
	a {
		&.active {
			font-weight: bold;
		}
	}
}
