/* Variables */

$max-width: 700px;
$background-color: white;
$footer-color: #404040;
$button-color: #F0F0F0;
$transition-time: .4s;

//Fonts

$sans: "Source Sans Pro", -system, "Helvetica Neue", sans-serif !default;
$mono: "Ubuntu mono", "Lucida Console", Monaco, monospace !default;
$heading-font-family: $sans !default;
$header-subtitle-font-family: $sans !default;

//Font sizes

$bodytext: 18px;
$metatext: 90%;
$footnotetext: 97%;

:root {
    --text-color: #383838;
    --text-color-light: #6B6B6B;
    --color: #FF670F;
    --background: white;
    --gutter-width: 1rem;
}

@media screen and (min-width: 600px) {
    :root {
        --gutter-width: 40px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #bbb;
        --text-color-light: rgb(155, 155, 155);
        --color: #fd6d1a;
        --background: #222;
    }
}

@import "base/layout";
@import "base/solarized";
@import "base/typography";
@import "base/darkmode";


.paginated-article:not(.has-error) {
    display: flex;
    //gap: 1em;
    flex: none;
    height: 85vh;
    margin-top: -1.5em;
    transition: opacity .3s;

    //background-color: red;
    
    // neat scrolling
    overflow-x: auto;
    overflow-y: hidden !important;
    // overflow-y: visible; // useful for debugging
    scroll-snap-type: x mandatory;

    // Full-width positioning
    width: 100vw;
    position: relative;
    left: calc(50%);
    right: calc(50%);
    margin-left: calc(-50vw);
    margin-right: calc(-50vw);
    transform: translate3d(0,0,0); 
}
.paginated-article.loading {
    opacity: .3;
}

.paginated-article > .page {
    --padding: 1em;
    box-sizing:border-box;
    background-color: rgba(127,127,127,.03);

    flex: none;
    width: 550px;
    max-width: calc(100% - (var(--padding) * 2));
    flex-flow: row nowrap;

    margin: 0 var(--padding);
    margin-right: 0;
    padding: var(--padding);

    scroll-snap-align: start;
    scroll-margin: 0 var(--padding);
    scroll-snap-stop: always;
    //overflow-y: hidden;
    overscroll-behavior-y: none;
    
    // padding: 2em 2em;
}
.paginated-article > .page:last-child {
    margin-right: 1em !important;
}
.paginated-article > .page p {
    text-align: justify;
}
.paginated-article > .page p.was-split {
    text-align-last: justify;
}
.first-on-page {
    margin-top: 0 !important;
}
.last-on-page {
    margin-bottom: 0 !important;
}
