/* Variables */

$max-width: 650px;
$background-color: white;
$footer-color: #404040;
$button-color: #F0F0F0;
$transition-time: .4s;

//Fonts

$sans: "Source Sans Pro", -system, "Helvetica Neue", sans-serif !default;
$mono: "Ubuntu mono", "Lucida Console", Monaco, monospace !default;
$heading-font-family: $sans !default;
$header-subtitle-font-family: $sans !default;

//Font sizes

$bodytext: 18px;
$metatext: 90%;
$footnotetext: 97%;

:root {
    --text-color: #331300;
    --text-color-light: #712900;
    --color: #FF670F;
    --lightgray: #ffc5a1;
    --background: #fff3ee;
    --gutter-width: 1rem;
}

@media screen and (min-width: 600px) {
    :root {
        --gutter-width: 40px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ffe2d5;
        --text-color-light: #c68f6f;
        --lightgray: #7b2f00;
        --color: #fd6d1a;
        --background: #291000;
    }
}

@import "base/layout";
@import "base/solarized";
@import "base/typography";
@import "base/darkmode";