/* Variables */

$max-width: 700px;
$background-color: white;
$footer-color: #404040;
$button-color: #F0F0F0;
$transition-time: .4s;

//Fonts

$sans: "Source Sans Pro", -system, "Helvetica Neue", sans-serif !default;
$mono: "Ubuntu mono", "Lucida Console", Monaco, monospace !default;
$heading-font-family: $sans !default;
$header-subtitle-font-family: $sans !default;

//Font sizes

$bodytext: 18px;
$metatext: 90%;
$footnotetext: 97%;

:root {
    --text-color: #383838;
    --text-color-light: #6B6B6B;
    --color: #FF670F;
    --background: white;
    --gutter-width: 1rem;
}

@media screen and (min-width: 600px) {
    :root {
        --gutter-width: 40px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #bbb;
        --text-color-light: rgb(155, 155, 155);
        --color: #fd6d1a;
        --background: #222;
    }
}

@import "base/layout";
@import "base/solarized";
@import "base/typography";
@import "base/darkmode";
