---
layout: compress
---


{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
 <header id="banner" role="banner">{% include header.html %}</header>

  <div id="main">
    <div id="content" style="max-width: {{ page.layout-width | default: '660 px'}}">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer class="bottom" role="contentinfo">
      {% include footer.html %}
  </footer>
</body>
</html>
