---
layout: compress
regenerate: true
---


{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<style>
  .flyleaf {
    text-align: center;
    overflow: hidden;
  }
  .flyleaf p,
  .flyleaf li {
    font-family: "Charter", Georgia, 'Times New Roman', Times, serif !important;
    font-size: 1.4rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    text-align: justify;
    hyphens: none;
    list-style: "♢ ";
  }

  .flyleaf .flyleaf-stuff :is(h1, h2, h3, h4) {
    text-align: center;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 3rem;
    max-width: 700px;
    margin-bottom: 2rem
  }

  .flyleaf h1 {
    display: inline-block;
    text-align: center;
    font-size: clamp(4rem, 10vw, 10rem);
    font-weight: 900;
    background: rgb(131,58,180);
    background: linear-gradient(132deg, rgba(131,58,180,1) 15%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 84%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
  }
  .flyleaf h2 {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    margin: 0 auto;
  }
</style>

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
  <div id="main" class="flyleaf">
    <div id="content" style="max-width: 100%">
      <div class="flyleaf-stuff">
        {{ content | expand_urls: root_url }}
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
