---
layout: compress
---


{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<style>
  .flyleaf {
    text-align: center;
  }
  .flyleaf p,
  .flyleaf li {
    font-family: -apple-system-ui-serif, ui-serif, "Charter", Georgia, 'Times New Roman', Times, serif !important;
    font-size: 1.5rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;
    text-align: justify;
    hyphens: auto;
    list-style: "♢ ";
  }

  .flyleaf h1, .flyleaf h2, .flyleaf h3, .flyleaf h4 {
    text-align: center;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 3rem;
    margin-bottom: 2rem
  }

  .flyleaf h1 {
    display: inline-block;
    text-align: center;
    font-size: clamp(4rem, 15.5vw, 14rem);
    margin: 0;
    margin-bottom: -3rem;
    font-weight: 900;
    background: rgb(131,58,180);
    background: linear-gradient(132deg, rgba(131,58,180,1) 15%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 84%);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .flyleaf h2 {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
  }

  .flyleaf video.ipad {
    border-radius: 25px;
    border: 15px solid black;
    outline: 2px solid gray;
    box-shadow: 1vh 1.2vh 2vh rgba(0,0,0,0.5);
    max-width: calc(100% - 2*15px);
    height: auto;
  }
</style>

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %}>
  <div id="main" class="flyleaf">
    <div id="content" style="max-width: 100%">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
