---
layout: default
single: true
---

{% assign painting = page %}
<article class="hentry" role="article">
	  {% include painting.html %}
  	<footer>
      <div class="meta">
        <div class="profile-small"><div class="profile-image"></div></div>
        {% include meta.html %}
      </div>

      <div class="meta">
        {% if painting.previous.url %}
          <div id="previouspost">{% if page.lang == 'en' %}Previous{% else %}Vorheriger{% endif %}
            <br>
            <a class="basic-alignment left"
               href="{{page.previous.url}}"
               title="Previous Painting: {{page.previous.title}}">
               {{page.previous.title | markdownify | remove: "<p>" | remove: "</p>"}}
            </a>
          </div>
        {% endif %}
        {% if painting.next.url %}
          <div id="nextpost">{% if page.lang == 'en' %}Next{% else %}Nächster{% endif %}
            <br>
            <a href="{{page.next.url}}"
               title="Next Painting: {{page.next.title}}">
                {{page.next.title | markdownify | remove: "<p>" | remove: "</p>"}}
            </a>
          </div>
        {% endif %}
      </div>
    </footer>
</article>
