---
layout: default
single: true
---
<article class="hentry {{ article.categories }}" role="article">
	{% include article.html %}
  	<footer>
      <div class="meta">
        <div class="profile-small"><div class="profile-image"></div></div>
        {% include meta.html %}
      </div>

      <div class="meta">
        {% if page.previous.url %}
          <div id="previouspost">{% if page.lang == 'en' %}Previous{% else %}Vorheriger{% endif %} (j)<br><a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">{{page.previous.title | markdownify | remove: "<p>" | remove: "</p>"}}</a></div>
        {% endif %}
        {% if page.next.url %}
          <div id="nextpost">{% if page.lang == 'en' %}Next{% else %}Nächster{% endif %} (k)<br><a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title | markdownify | remove: "<p>" | remove: "</p>"}}</a></div>
        {% endif %}
      </div>
    </footer>
</article>
