
@media (prefers-color-scheme: dark) {

	body {
		a.bannertext:hover {
			color: var(--color);
		}

		a, a:visited {
			border-bottom-color: #777;
		}
		a:hover {
			border-bottom-color: var(--color);
		}
		h1,  h2,  p,  a, a:visited {
			color: var(--text-color);
		}
		article.hentry {
			code, figcaption {
				color: #777;
			}

            footer {
                a, a.social {
                    color: #aaa;
                }
                time,  div,  span,  figcaption,  .meta, p {
                    color: #777;
                }
            }
            li {
                color: #aaa;
            }
            .footnote-button:before {
                color: var(--text-color);
            }
            .footnote-content,  .tooltip,  .footnote-main-wrapper {
                background-color: var(--text-color);
                border-color: var(--text-color);
            }
            .footnote-content-wrapper {
                background: var(--text-color);
                border-color: var(--text-color);
            }
            .footnote-content.scrollable {
                .footnote-main-wrapper:before,  .footnote-main-wrapper:after {
                    background: none;
                }
            }

        }
		span.entry-content-excerpt:after {
			background: -moz-linear-gradient(left, rgba(34,34,34,0) 0%, rgba(34,34,34,1) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(34,34,34,0)), color-stop(100%,rgba(34,34,34,1)));
			background: -webkit-linear-gradient(left, rgba(34,34,34,0) 0%,rgba(34,34,34,1) 100%);
			background: -o-linear-gradient(left, rgba(34,34,34,0) 0%,rgba(34,34,34,1) 100%);
			background: -ms-linear-gradient(left, rgba(34,34,34,0) 0%,rgba(34,34,34,1) 100%);
			background: linear-gradient(to right, rgba(34,34,34,0) 0%,rgba(34,34,34,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222222', endColorstr='#222222',GradientType=1 );
		}
        
        .button, .button.secondary, .button.cta {
            box-shadow: 3px 5px 0 #555;
        }
        .button:hover, a.button:hover {
            box-shadow: 3px 7px 5px #555;
        }

        .button.secondary {
            background-color: #444 !important;
        }
        
        .category-pill {
            background-color: #555;
        }

        .header-menu {
            .icon {
                filter: invert(1);
            }
        }
        .page-navigation {
            background-color: var(--text-color) !important;
        }
        .page-navigation button {
            background-color: var(--text-color);
        }
        .entry-title.index:before {
            filter: invert(1);
        }
    }
}
