/* Variables */

$max-width: 560px;
$color: #FF670F; 
$background-color: white;
$footer-color: #404040;
$button-color: #F0F0F0;
$transition-time: .4s;

body {
	background-color: $background-color;
	padding: 0;
	margin: 0;
}
#main {
}

/* Site Padding */

#content, footer {
	margin: 0 auto;
	padding: 1.5em 5px;
	max-width: $max-width;
	@media only screen and (min-width: 1300px) {
		max-width: $max-width * 1.1;}
}

/* Padding and line between "article"-elements */

article {
	padding-bottom: .5em;
}

/* Post styling */

/* Heading of articles */



article {
	display: inline-block;
	max-width: 100%;
	h1.entry-title {
		padding-bottom: 1em;
		text-align: center;
		font-size: 125%;

	}
	.entry-slug {
		text-align: center;
		font-style: italic;
		margin-top: -2em;
		padding-bottom: 1em;		
	}
	h1, h2, h3, h4
		{}

	p, blockquote, ul, ol
		{margin-bottom: 1em;}

	figure, img, iframe, video, object {margin-left: auto; margin-right: auto; display: block; max-width: 100% !important;}
	}

.blog-index {
	display: inline-block;
}

/* Heading of pages */

.entry-title.page {
	text-align: center;
}

/* Footnotes */

div.footnotes {
	padding-bottom: .5em;
	padding-left: 20px;
	padding-right: 20px;
}

/* Pagination on homepage */

div.pagination
{
    text-align: center;
    padding: 1.5em 0;
	a.prev {
    		float: left;
	}
	a.next {
		float: right;
	}
}	

/* List styling */

article {
ul, ol {margin-bottom: 1em; li {margin-bottom: 0;}
	@media only screen and (max-width: $max-width) {margin-left: 1.3em;}
}

ul { list-style-type: disc;
  ul { list-style-type: circle; margin-bottom: 0;
    ul { list-style-type: square; margin-bottom: 0; }}}

ol { list-style-type: decimal;
  ol { list-style-type: lower-alpha; margin-bottom: 0;
    ol { list-style-type: lower-roman; margin-bottom: 0; }}}


ul, ol { ul, ol { margin-bottom: 0em; }}
}

/* Site animation */

#content {
	-webkit-animation: fadein $transition-time; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein $transition-time; /* Firefox < 16 */
	-ms-animation: fadein $transition-time; /* Internet Explorer */
	-o-animation: fadein $transition-time; /* Opera < 12.1 */
	animation: fadein $transition-time;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Profile picture */

.profile-outer {
	width: 200px;
	margin: 0 auto;
	height: 200px;
	overflow: hidden;
	margin-bottom: 40px;
	border: 2px solid black !important;
	border-radius: 50%;
}
.profile-outer:hover {
	border-color: $color !important;
}
.profile-image {
	background: url("/images/me.jpeg") no-repeat center top;  
	background-size: 100%;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: background $transition-time;
}

.profile-outer.side {
	float: left;
	width: 80px;
	margin: 0;
	margin-left: -105px; 
	height: 80px;
	padding-bottom: 0px;
	@media (max-width: $max-width + 220px) {
		display: none;
	}
}

/* Language Selector */

.language-selector {
	display: inline-block;
	float: right;
	margin-top: -100px;
	margin-bottom: 5px;
	margin-left: 100%;
}

/* Projects */

.projects {
	display: inline;
	margin: auto 0;
	width: 100%;
	 a {
	 	border: none;
	 }
	 a:hover {
	 	border: none;
	 }
	 a:hover img {
	 	opacity: .9;
	 }
	 img {
	 	display: inline;
	 	width: 32%; height: auto;
	 	margin: 0px;
	 	transition: opacity .5s;
	 	opacity: 1;
	 }
}

/*Index View*/

h1.entry-title, .entry-ellipse {transition: border $transition-time;}

h1.entry-title.index {
	padding-bottom: 0;
	display: inline;
	border-bottom: 3px solid transparent;
	font-size: 100%;
}

.index-post {
	display: inline-block;
	margin-left: 35px;
	padding-bottom: 1.2em;
	@media only screen and (max-width: $max-width) {margin-left: 25px;}
}

// :before headings

@media only screen and (max-width: $max-width) {
	.entry-title {
		padding-left: 25px;
	}
}

.entry-title:before, .entry-title.index:before {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url("/images/moehre.png") no-repeat center top;
	background-size: 100%;
	position: absolute;
	margin-left: -35px;
	margin-top: 4px;
	content: "";
	transition: background $transition-time;
	@media only screen and (max-width: $max-width) {margin-left: -27px;}
}

.entry-title.index:before {
	background-image: url("/images/moehre_black.png")
}
.entry-title.linklog:before {
	content: "→";
	font-weight: bolder;
	display: inline-block;
	background: none;
	color: #E0E0E0;
	position: absolute;
	margin-left: -35px;
	margin-top: 0;
	transition: color $transition-time;
	@media only screen and (max-width: $max-width) {margin-left: -25px;}
}

.entry-title.page, .entry-title.index {
	padding-left: 0;
}

.entry-title.page:before {
	content: "";
	display: none;
	background: none;
}

a.index-link {
	display: block;
	border: none;
}
a.index-link:hover {
	border: none;
	.entry-title {border-color: $color;}
	.entry-title.index:before {
		background: url("/images/moehre.png") no-repeat center top;
		background-size: 100%;
	}
	.entry-title.linklog:before {
		color: $color;
		background: none;
	} 
}

span.entry-content-excerpt {
	display: block;
	padding-top: .5em;
	overflow: hidden;
	max-height: 4.8em;
	position: relative;
	//font-size: $footnotetext;
}
span.entry-content-excerpt:after {
	content: "";
	position: absolute;
	height: 1.8em;
	width: 40%;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
	bottom: 0;
	right: 0;
} 

// dark mode

body.dark-mode {
	background: #222;
}

.dark-mode a.bannertext:hover {
	color: $color !important;
}

.dark-mode a {
	border-bottom-color: #777 !important;
}
.dark-mode a:hover {
	border-bottom-color: $color !important;
}
.dark-mode h1 a {
	border-bottom-color: #222 !important;
}
.dark-mode h1, .dark-mode h2, .dark-mode p, .dark-mode a {
	color: #bbb !important;
}
.dark-mode time, .dark-mode div, .dark-mode span, .dark-mode figcaption, .dark-mode .meta, .dark-mode footer p, .dark-mode code {
	color: #777 !important;
}
.dark-mode span.entry-content-excerpt:after {
background: -moz-linear-gradient(left, rgba(34,34,34,0) 0%, rgba(34,34,34,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(34,34,34,0)), color-stop(100%,rgba(34,34,34,1)));
background: -webkit-linear-gradient(left, rgba(34,34,34,0) 0%,rgba(34,34,34,1) 100%);
background: -o-linear-gradient(left, rgba(34,34,34,0) 0%,rgba(34,34,34,1) 100%);
background: -ms-linear-gradient(left, rgba(34,34,34,0) 0%,rgba(34,34,34,1) 100%);
background: linear-gradient(to right, rgba(34,34,34,0) 0%,rgba(34,34,34,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00222222', endColorstr='#222222',GradientType=1 );
} 

.dark-mode .profile-outer {
	border: 2px solid $background-color !important;
}
.dark-mode .profile-outer:hover {
	border-color: $color !important;
}